# Web
WEB_PORT=8080
SERVER_NAME=crud-app
SERVER_IP=
SECRET_KEY=replace-with-a-long-random-secret
ACCESS_TOKEN_EXPIRE_MINUTES=60
COOKIE_SECURE=false

# Initial login account (created only when it does not exist)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=frodo1234

# MySQL 8.0
MYSQL_HOST=mydb-svc
MYSQL_PORT=3306
MYSQL_EXPOSED_PORT=3306
MYSQL_DATABASE=frodo
MYSQL_USER=crud_user
MYSQL_PASSWORD=Frodo5020!!
MYSQL_ROOT_PASSWORD=root_password
